body{
	width:1000px;
	min-height:100%%;
	margin-left:auto;
	margin-right:auto;
}
html, body{
	height:100%%;
}
.container{
	background:white;
	min-height:100%%;
	padding:0 50px 50px 30px ;
	margin-left:auto;
	margin-right:auto;
}
nav{
	display:inline;
}
li.navcell{
	float:left;
	margin-left:10px;
	/*
	display:inline;
	background: #77bd42;
	width:120px;
	height:40px;
	color:white;
	font-size:26px;
	text-align:center;
	text-decoration:none;
	*/
}

ul.navtop{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	/*
	font-size:20px;
	text-align:center;
	width:120px;
	height:120px;
	background:#77bd42;
	display:none;
	*/
}
a:link,a:visited
{
	display:block;
	width:120px;
	font-weight:bold;
	color:#ffffff;
	background-color:#77bd42;
	text-align:center;
	padding:4px;
	text-decoration:none;
}
a:hover,a:active
{
	background-color:#7A991A;

}

/*
.navbox{
	display:inline;
	background: #77bd42;
	width:120px;
	height:40px;
	color:white;
	text-decoration:none;
	font-size:20px;
	text-align:center;
}

.panel{
	list-style-type:none;
	text-align:center;
	width:120px;
	height:120px;
	background:#77bd42;
	display:none;
}
/*
.wrapper{
	width:auto;
}

.container2{
	border-color:#0E78A0 !important;
}
.link{
	font-family: 'Open sans', sans-serif;
	text-align:center;
	font-size: 30px;
}
a:link{
	text-decoration:none;
	color:#63B8FF;
}
article{
	font-family: 'Beunard', serif;
	font-size: 20px;
}
.note{
	font-family: 'Beunard', serif;
	font-size: 20px;
	color:#B0171F;
}
.icon{
	width:130px;
	height:auto;
	position:absolute;
	margin-top:150px;
	margin-left:80px;
	border:1px solid;
}
.icon:hover{
	background:white;
}
#bottom{
	width:130px;
	height:auto;
	border:5px solid;
	margin-top:-70px;
	margin-left:50px;
	background: white;
	border-color:#0E78A0 !important;
}
.navbox{
	display:inline;
	background: black;
	width:150px;
	height:30px;
	color:white;
	text-decoration:none;
	font-size:20px;
	text-align:center;
	padding:0 10px;
	margin-right:5px;
}
.navbox:hover{
	opacity:0.7;
}
a:visited{
	color:white;
}
nav{
	margin-top:20px;
	margin-bottom:40px;
}
footer{
	position:absolute;
	margin-top:560px;
	margin-left:900px;
	color:white;
}
.head{
	font-size:90px;
	margin-top:-120px;
	margin-bottom:0;
	color:#6FC3C1;
}
.head2{
	font-size:90px;
	margin-top:-120px;
	margin-bottom:0;
	color:#77BF42;
}

*/
