/* This is very similar to screen.css but this is for the index page */
h1{

	color:#008000;
	font-size:40px;
	text-align:center;
/*	font-family:"IM Fell English SC", serif;*/
}	
h2{
	color: #B0171F;
}
html, body{
	height:100%;
}
.main{
	background-image: url(../img/lamp.jpg);
	background-size:80%;
}
.wrapper{
	width:auto;
}
.container{
	background:white;
	min-height:100%;
	padding:30px 50px 50px 30px ;
	/*border-radius:15px;*/
	width:500px;
/*	margin-left:auto;
	margin-right:auto;
	/*margin-bottom:100px;
	margin-top:100px; */
	border:5px solid;
	border-color:#ECC201;
}
.container2{
	border-color:#0E78A0 !important;
}
.link{
	font-family: 'Open sans', sans-serif;
	text-align:center;
	font-size: 30px;
}
a:link{
	text-decoration:none;
	color:#63B8FF;
}
article{
	font-family: 'Beunard', serif;
	font-size: 20px;
}
.note{
	font-family: 'Beunard', serif;
	font-size: 20px;
	color:#B0171F;
}
.icon{
	width:130px;
	height:auto;
	position:absolute;
	margin-top:150px;
	margin-left:80px;
	border:1px solid;
}
.icon:hover{
	background:white;
}
#bottom{
	width:130px;
	height:auto;
	border:5px solid;
	margin-top:-70px;
	margin-left:50px;
	background: white;
}
.botros{
	font-size:150px;
	position:absolute;
	margin-top:330px;
	margin-left:80px;	
	color:white;
}
.botros:hover{
	color:red;
}

.navbox{
	display:inline;
	background: black;
	width:150px;
	height:30px;
	color:white;
	text-decoration:none;
	font-size:20px;
	text-align:center;
	padding:0 10px;
	margin-right:5px;
}
.navbox:hover{
	opacity:0.7;
}
a:visited{
	color:white;
}
nav{
	margin-top:20px;
}

footer{
	position:absolute;
	margin-top:560px;
	margin-left:900px;
	color:white;
}
.head{
	font-size:90px;
	margin-top:-120px;
	margin-bottom:0;
	color:#6FC3C1;
}
.head2{
	font-size:90px;
	margin-top:-120px;
	margin-bottom:0;
	color:#77BF42;
}
#mypic{
	height:350px;
	width:auto;
	position:relative;
	float:right;
}

body{
	width:700px;
	min-height:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}
.photo{
	width:400px;
	height:auto;
	margin-left:40px;
	margin-bottom:10px;
	display:inline;
	margin-top:10px;
}
#focus{
	height:auto;
	width:700px;
	margin-top:10px;
}

